.checkoutProduct {
  display: flex;
}

.checkoutProduct__title {
  font-size: 1.4rem;
  font-weight: 700;
}

.checkoutProduct__rating {
  display: flex;
  justify-content: center;
}

.checkoutProduct__image {
  border-radius: 7px;
  height: 100%;
  width: 100%;
  max-height: 199px;
  max-width: 199px;
  object-fit: contain;
  justify-content: left;
}

.checkoutProduct__button {
  background-color: #e0d2b4;
  background-image: linear-gradient(315deg, #e0d2b4 0%, #e2ac6b 74%);
  border: 1px 1px 1px 1px;
  margin-top: 3px;
  border-color: black #e0d2b4 #e2ac6b;
  color: black;
  border-radius: 7px;
}

.checkoutProduct__info {
  padding-left: 20px;
}
